<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="container">
      <%- include('./partials/nav.ejs') %>

      <div class="body not-found">
        <h2>Not Found!</h2>
        <p>Oops! Something went wrong :)</p>
      </div>

      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
