<html>
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="container">
      <%- include('./partials/nav.ejs') %>

      <div class="body about">
        <h2>About page</h2>
      </div>

      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
